<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>To Do Display</title>
  </head>
  <body>
    <div class="container">
      <h1>To Do List</h1>
      <p><a href="/categories">View categories</a></p>
      <p><a href="/categories/new">Add new category</a></p>
    </div>
  </body>
</html>
